apiVersion: apps/v1
kind: Deployment
metadata:
  name: bulletin-app
  namespace: bulletin
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: bulletin-app
  template:
    metadata:
      labels:
        app: bulletin-app
    spec:
      containers:
        - name: app
          image: ghcr.io/mazzahaker/project-devops-deploy:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
